@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  display: grid;
  height: 100%;
  text-align: center;
  place-items: center;
  background-color: #fff;
}

.range {
  height: 80px;
  width: 380px;
  background: #fafafa;
  border-radius: 20px;
  padding: 0 65px 0 45px;
}

.range .sliderValue {
  position: relative;
  width: 100%;
}

.range .sliderValue span {
  position: absolute;
  height: 45px;
  width: 75px;
  color: #000002;
  top: -30px;
  transform: translateX(-50%);
  line-height: 55px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.5rem;
}

.range .field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.range .field .value {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: #291d65;
}

.range .field .value.left {
  left: -22px;
}

.range .field .value.right {
  right: -43px;
}

.range .field input {
  -webkit-appearance: none;
  min-height: 50px;
  width: 100%;
  background: none;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  overflow: hidden;
}
.range .field input:focus {
  box-shadow: none;
  outline: none;
}
.range .field input::-webkit-slider-runnable-track {
  background-color: #281f58;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #281f58, #52b7bf);
  content: "";
  height: 5px;
  pointer-events: none;
}
.range .field input::-webkit-slider-thumb {
  width: 38px;
  height: 18px;
  appearance: none;
  background: #fff;
  border-radius: 8px;
  box-shadow: 5px 0 0 -12.4px #d8d7dd, 6px 0 0 -12.4px #d8d7dd, 7px 0 0 -12.4px #d8d7dd, 8px 0 0 -12.4px #d8d7dd, 9px 0 0 -12.4px #d8d7dd, 10px 0 0 -12.4px #d8d7dd, 11px 0 0 -12.4px #d8d7dd, 12px 0 0 -12.4px #d8d7dd, 13px 0 0 -12.4px #d8d7dd, 14px 0 0 -12.4px #d8d7dd, 15px 0 0 -12.4px #d8d7dd, 16px 0 0 -12.4px #d8d7dd, 17px 0 0 -12.4px #d8d7dd, 18px 0 0 -12.4px #d8d7dd, 19px 0 0 -12.4px #d8d7dd, 20px 0 0 -12.4px #d8d7dd, 21px 0 0 -12.4px #d8d7dd, 22px 0 0 -12.4px #d8d7dd, 23px 0 0 -12.4px #d8d7dd, 24px 0 0 -12.4px #d8d7dd, 25px 0 0 -12.4px #d8d7dd, 26px 0 0 -12.4px #d8d7dd, 27px 0 0 -12.4px #d8d7dd, 28px 0 0 -12.4px #d8d7dd, 29px 0 0 -12.4px #d8d7dd, 30px 0 0 -12.4px #d8d7dd, 31px 0 0 -12.4px #d8d7dd, 32px 0 0 -12.4px #d8d7dd, 33px 0 0 -12.4px #d8d7dd, 34px 0 0 -12.4px #d8d7dd, 35px 0 0 -12.4px #d8d7dd, 36px 0 0 -12.4px #d8d7dd, 37px 0 0 -12.4px #d8d7dd, 38px 0 0 -12.4px #d8d7dd, 39px 0 0 -12.4px #d8d7dd, 40px 0 0 -12.4px #d8d7dd, 41px 0 0 -12.4px #d8d7dd, 42px 0 0 -12.4px #d8d7dd, 43px 0 0 -12.4px #d8d7dd, 44px 0 0 -12.4px #d8d7dd, 45px 0 0 -12.4px #d8d7dd, 46px 0 0 -12.4px #d8d7dd, 47px 0 0 -12.4px #d8d7dd, 48px 0 0 -12.4px #d8d7dd, 49px 0 0 -12.4px #d8d7dd, 50px 0 0 -12.4px #d8d7dd, 51px 0 0 -12.4px #d8d7dd, 52px 0 0 -12.4px #d8d7dd, 53px 0 0 -12.4px #d8d7dd, 54px 0 0 -12.4px #d8d7dd, 55px 0 0 -12.4px #d8d7dd, 56px 0 0 -12.4px #d8d7dd, 57px 0 0 -12.4px #d8d7dd, 58px 0 0 -12.4px #d8d7dd, 59px 0 0 -12.4px #d8d7dd, 60px 0 0 -12.4px #d8d7dd, 61px 0 0 -12.4px #d8d7dd, 62px 0 0 -12.4px #d8d7dd, 63px 0 0 -12.4px #d8d7dd, 64px 0 0 -12.4px #d8d7dd, 65px 0 0 -12.4px #d8d7dd, 66px 0 0 -12.4px #d8d7dd, 67px 0 0 -12.4px #d8d7dd, 68px 0 0 -12.4px #d8d7dd, 69px 0 0 -12.4px #d8d7dd, 70px 0 0 -12.4px #d8d7dd, 71px 0 0 -12.4px #d8d7dd, 72px 0 0 -12.4px #d8d7dd, 73px 0 0 -12.4px #d8d7dd, 74px 0 0 -12.4px #d8d7dd, 75px 0 0 -12.4px #d8d7dd, 76px 0 0 -12.4px #d8d7dd, 77px 0 0 -12.4px #d8d7dd, 78px 0 0 -12.4px #d8d7dd, 79px 0 0 -12.4px #d8d7dd, 80px 0 0 -12.4px #d8d7dd, 81px 0 0 -12.4px #d8d7dd, 82px 0 0 -12.4px #d8d7dd, 83px 0 0 -12.4px #d8d7dd, 84px 0 0 -12.4px #d8d7dd, 85px 0 0 -12.4px #d8d7dd, 86px 0 0 -12.4px #d8d7dd, 87px 0 0 -12.4px #d8d7dd, 88px 0 0 -12.4px #d8d7dd, 89px 0 0 -12.4px #d8d7dd, 90px 0 0 -12.4px #d8d7dd, 91px 0 0 -12.4px #d8d7dd, 92px 0 0 -12.4px #d8d7dd, 93px 0 0 -12.4px #d8d7dd, 94px 0 0 -12.4px #d8d7dd, 95px 0 0 -12.4px #d8d7dd, 96px 0 0 -12.4px #d8d7dd, 97px 0 0 -12.4px #d8d7dd, 98px 0 0 -12.4px #d8d7dd, 99px 0 0 -12.4px #d8d7dd, 100px 0 0 -12.4px #d8d7dd, 101px 0 0 -12.4px #d8d7dd, 102px 0 0 -12.4px #d8d7dd, 103px 0 0 -12.4px #d8d7dd, 104px 0 0 -12.4px #d8d7dd, 105px 0 0 -12.4px #d8d7dd, 106px 0 0 -12.4px #d8d7dd, 107px 0 0 -12.4px #d8d7dd, 108px 0 0 -12.4px #d8d7dd, 109px 0 0 -12.4px #d8d7dd, 110px 0 0 -12.4px #d8d7dd, 111px 0 0 -12.4px #d8d7dd, 112px 0 0 -12.4px #d8d7dd, 113px 0 0 -12.4px #d8d7dd, 114px 0 0 -12.4px #d8d7dd, 115px 0 0 -12.4px #d8d7dd, 116px 0 0 -12.4px #d8d7dd, 117px 0 0 -12.4px #d8d7dd, 118px 0 0 -12.4px #d8d7dd, 119px 0 0 -12.4px #d8d7dd, 120px 0 0 -12.4px #d8d7dd, 121px 0 0 -12.4px #d8d7dd, 122px 0 0 -12.4px #d8d7dd, 123px 0 0 -12.4px #d8d7dd, 124px 0 0 -12.4px #d8d7dd, 125px 0 0 -12.4px #d8d7dd, 126px 0 0 -12.4px #d8d7dd, 127px 0 0 -12.4px #d8d7dd, 128px 0 0 -12.4px #d8d7dd, 129px 0 0 -12.4px #d8d7dd, 130px 0 0 -12.4px #d8d7dd, 131px 0 0 -12.4px #d8d7dd, 132px 0 0 -12.4px #d8d7dd, 133px 0 0 -12.4px #d8d7dd, 134px 0 0 -12.4px #d8d7dd, 135px 0 0 -12.4px #d8d7dd, 136px 0 0 -12.4px #d8d7dd, 137px 0 0 -12.4px #d8d7dd, 138px 0 0 -12.4px #d8d7dd, 139px 0 0 -12.4px #d8d7dd, 140px 0 0 -12.4px #d8d7dd, 141px 0 0 -12.4px #d8d7dd, 142px 0 0 -12.4px #d8d7dd, 143px 0 0 -12.4px #d8d7dd, 144px 0 0 -12.4px #d8d7dd, 145px 0 0 -12.4px #d8d7dd, 146px 0 0 -12.4px #d8d7dd, 147px 0 0 -12.4px #d8d7dd, 148px 0 0 -12.4px #d8d7dd, 149px 0 0 -12.4px #d8d7dd, 150px 0 0 -12.4px #d8d7dd, 151px 0 0 -12.4px #d8d7dd, 152px 0 0 -12.4px #d8d7dd, 153px 0 0 -12.4px #d8d7dd, 154px 0 0 -12.4px #d8d7dd, 155px 0 0 -12.4px #d8d7dd, 156px 0 0 -12.4px #d8d7dd, 157px 0 0 -12.4px #d8d7dd, 158px 0 0 -12.4px #d8d7dd, 159px 0 0 -12.4px #d8d7dd, 160px 0 0 -12.4px #d8d7dd, 161px 0 0 -12.4px #d8d7dd, 162px 0 0 -12.4px #d8d7dd, 163px 0 0 -12.4px #d8d7dd, 164px 0 0 -12.4px #d8d7dd, 165px 0 0 -12.4px #d8d7dd, 166px 0 0 -12.4px #d8d7dd, 167px 0 0 -12.4px #d8d7dd, 168px 0 0 -12.4px #d8d7dd, 169px 0 0 -12.4px #d8d7dd, 170px 0 0 -12.4px #d8d7dd, 171px 0 0 -12.4px #d8d7dd, 172px 0 0 -12.4px #d8d7dd, 173px 0 0 -12.4px #d8d7dd, 174px 0 0 -12.4px #d8d7dd, 175px 0 0 -12.4px #d8d7dd, 176px 0 0 -12.4px #d8d7dd, 177px 0 0 -12.4px #d8d7dd, 178px 0 0 -12.4px #d8d7dd, 179px 0 0 -12.4px #d8d7dd, 180px 0 0 -12.4px #d8d7dd, 181px 0 0 -12.4px #d8d7dd, 182px 0 0 -12.4px #d8d7dd, 183px 0 0 -12.4px #d8d7dd, 184px 0 0 -12.4px #d8d7dd, 185px 0 0 -12.4px #d8d7dd, 186px 0 0 -12.4px #d8d7dd, 187px 0 0 -12.4px #d8d7dd, 188px 0 0 -12.4px #d8d7dd, 189px 0 0 -12.4px #d8d7dd, 190px 0 0 -12.4px #d8d7dd, 191px 0 0 -12.4px #d8d7dd, 192px 0 0 -12.4px #d8d7dd, 193px 0 0 -12.4px #d8d7dd, 194px 0 0 -12.4px #d8d7dd, 195px 0 0 -12.4px #d8d7dd, 196px 0 0 -12.4px #d8d7dd, 197px 0 0 -12.4px #d8d7dd, 198px 0 0 -12.4px #d8d7dd, 199px 0 0 -12.4px #d8d7dd, 200px 0 0 -12.4px #d8d7dd, 201px 0 0 -12.4px #d8d7dd, 202px 0 0 -12.4px #d8d7dd, 203px 0 0 -12.4px #d8d7dd, 204px 0 0 -12.4px #d8d7dd, 205px 0 0 -12.4px #d8d7dd, 206px 0 0 -12.4px #d8d7dd, 207px 0 0 -12.4px #d8d7dd, 208px 0 0 -12.4px #d8d7dd, 209px 0 0 -12.4px #d8d7dd, 210px 0 0 -12.4px #d8d7dd, 211px 0 0 -12.4px #d8d7dd, 212px 0 0 -12.4px #d8d7dd, 213px 0 0 -12.4px #d8d7dd, 214px 0 0 -12.4px #d8d7dd, 215px 0 0 -12.4px #d8d7dd, 216px 0 0 -12.4px #d8d7dd, 217px 0 0 -12.4px #d8d7dd, 218px 0 0 -12.4px #d8d7dd, 219px 0 0 -12.4px #d8d7dd, 220px 0 0 -12.4px #d8d7dd, 221px 0 0 -12.4px #d8d7dd, 222px 0 0 -12.4px #d8d7dd, 223px 0 0 -12.4px #d8d7dd, 224px 0 0 -12.4px #d8d7dd, 225px 0 0 -12.4px #d8d7dd, 226px 0 0 -12.4px #d8d7dd, 227px 0 0 -12.4px #d8d7dd, 228px 0 0 -12.4px #d8d7dd, 229px 0 0 -12.4px #d8d7dd, 230px 0 0 -12.4px #d8d7dd, 231px 0 0 -12.4px #d8d7dd, 232px 0 0 -12.4px #d8d7dd, 233px 0 0 -12.4px #d8d7dd, 234px 0 0 -12.4px #d8d7dd, 235px 0 0 -12.4px #d8d7dd, 236px 0 0 -12.4px #d8d7dd, 237px 0 0 -12.4px #d8d7dd, 238px 0 0 -12.4px #d8d7dd, 239px 0 0 -12.4px #d8d7dd, 240px 0 0 -12.4px #d8d7dd, 241px 0 0 -12.4px #d8d7dd, 242px 0 0 -12.4px #d8d7dd, 243px 0 0 -12.4px #d8d7dd, 244px 0 0 -12.4px #d8d7dd, 245px 0 0 -12.4px #d8d7dd, 246px 0 0 -12.4px #d8d7dd, 247px 0 0 -12.4px #d8d7dd, 248px 0 0 -12.4px #d8d7dd, 249px 0 0 -12.4px #d8d7dd, 250px 0 0 -12.4px #d8d7dd, 251px 0 0 -12.4px #d8d7dd, 252px 0 0 -12.4px #d8d7dd, 253px 0 0 -12.4px #d8d7dd, 254px 0 0 -12.4px #d8d7dd, 255px 0 0 -12.4px #d8d7dd, 256px 0 0 -12.4px #d8d7dd, 257px 0 0 -12.4px #d8d7dd, 258px 0 0 -12.4px #d8d7dd, 259px 0 0 -12.4px #d8d7dd, 260px 0 0 -12.4px #d8d7dd;
  margin-top: -12.4px;
  border: 1px solid #777;
}
.range .field input::-moz-range-track {
  width: 240px;
  height: 2px;
}
.range .field input::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-image: url("slider-arrow-icon.png");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: 1px solid #777;
  position: relative;
  cursor: pointer;
}
.range .field input::-moz-range-progress {
  height: 5px;
  background-color: #e33d44;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #281f58, #52b7bf);
  border: 0;
  margin-top: 0;
}
.range .field input::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: transparent;
  height: 2px;
  margin-top: 10px;
  width: 240px;
}
.range .field input::-ms-thumb {
  height: 30px;
  width: 30px;
  background: #664aff;
  border-radius: 50%;
  border: 1px solid #777;
}
.range .field input::-ms-fill-lower {
  background: #e33d44;
  border-radius: 0;
}
.range .field input::-ms-fill-upper {
  background: #c7c7c7;
  border-radius: 0;
}
.range .field input::-ms-tooltip {
  display: none;
}

.range .field input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-image: url("slider-arrow-icon.png");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
